
<form action="/edit-profile" method="post">
<button type="submit" class="page-btn edit-pic-btn" style="margin: 2vh 3vh;">Edit picture</button>


<div class="profile-pics-div">
 <div class="inputs-box">
 <img src="images/osrs_bot-removebg-preview.png" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/osrs_bot-removebg-preview.png" checked>
 </div>

 <div class="inputs-box">
 <img src="images/pic_2.jpg" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_2.jpg">
 </div>
 
 <div class="inputs-box">
 <img src="images/pic_3.jpg" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_3.jpg">
 </div>

 <div class="inputs-box">
 <img src="images/pic_4.jpg" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_4.jpg">
 </div>

 <div class="inputs-box">
 <img src="images/pic_5.jpg" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_5.jpg">
 </div>

 <div class="inputs-box">
 <img src="images/pic_6.jpg" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_6.jpg">
 </div>

 <div class="inputs-box">
 <img src="images/pic_7.jpg" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_7.jpg">
 </div>

 <div class="inputs-box">
 <img src="images/pic_8.jpg" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_8.jpg">
 </div>

 <div class="inputs-box">
 <img src="images/pic_9.jpg" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_9.jpg">
 </div>

 <div class="inputs-box">
 <img src="images/pic_10.jpg" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_10.jpg">
 </div>

 <div class="inputs-box">
 <img src="images/char.png" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/char.png">
 </div>

 <div class="inputs-box">
 <img src="/images\arcanine_avatar.jpg" alt="profilepic" class="profile-pic">
 <br>
 <input type="radio" name="pic" class="radio-inputs" value="images/char.png">
 </div>


</div>



</form>