
<img class="andre" src="/images\andre-removebg-preview.png"></img>

<div class="arrange_andre">
<img class="cloud" src="/images\cloud.png"></img>

<video class="pokemon_video" controls autoPlay loop>
  <source class="poki_video" src="/images\poki_song.mp4" type="video/mp4">
  {{!-- <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag. --}}
</video>
</div>







